// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: #322e2b;
$text_color: #f5f4f4;
$bg_color: #272422;
$fg_color: #f5f4f4;

$main_dark_color: darken($bg_color, 5%);

$lime: #aac69f;
$red: #d19494;
$orange: #deb68c;
$yellow: #f3dea4;
$brown: #898077;
$darkbrown: #554f49;
$cyan: #7bb7b7;
$blue: #80a2b3;

$selected_fg_color: #f5f4f4;
$selected_bg_color: transparentize($brown, 0.5);
$selected_borders_color: darken($selected_bg_color, 20%);
$borders_color: transparentize(#211e1c, 0.1);

$link_color: $cyan;
$link_visited_color:transparentize($link_color,0.5);

$selection_mode_bg: if($transparency == 'true', transparentize($selected_bg_color, 0.05), $selected_bg_color);
$selection_mode_fg: $selected_fg_color;
$warning_color: #cc8866;
$error_color: #c18b8b;
$warning_fg_color: white;
$error_fg_color: white;
$success_color: #95b18b;
$destructive_color: #c18b8b;
$suggested_color: #80a2b2;
$destructive_fg_color: white;
$suggested_fg_color: white;

$drop_target_color: #cc8866;

//insensitive state derived colors
$insensitive_fg_color: if($variant == 'light', transparentize($fg_color, 0.45), transparentize($fg_color, 0.55));
$insensitive_bg_color: if($variant == 'light', mix($bg_color, $base_color, 40%), lighten($bg_color, 2%));

$header_bg: $bg_color;


$header_bg_backdrop: if($darker == 'true' or $variant == 'dark', lighten($header_bg, 1.5%), lighten($header_bg, 3%));

$header_border: if($variant == 'light' and $darker=='false', darken($header_bg, 7%), darken($header_bg, 4%));

$header_fg: if($variant == 'light', saturate(transparentize($fg_color, 0.2), 10%), saturate(transparentize($fg_color, 0.2), 10%));
$header_fg: if($darker == 'true', saturate(transparentize(#dedcd9, 0.2), 10%), $header_fg);

$dark_sidebar_bg: $main_dark_color;
$dark_sidebar_fg: #c8c3bf;
$dark_sidebar_border: if($variant == 'light', $dark_sidebar_bg, darken($dark_sidebar_bg, 5%));

$osd_fg_color: $dark_sidebar_fg;
$osd_bg_color: $dark_sidebar_bg;

$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_insensitive_bg_color: darken($osd_bg_color, 3%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);
$osd_borders_color: transparentize(black, 0.3);

$panel_bg:  transparentize(darken($bg_color, 2%), 0.05);
$panel_fg: $dark_sidebar_fg;

$entry_bg: if($variant=='light', $base_color, lighten($base_color, 0%));
$entry_border: if($variant == 'light', #b5d4e3, darken($borders_color, 0%));

$header_entry_bg: if($darker == 'true' or $variant == 'dark', transparentize(lighten($header_bg, 22%), 0.6), transparentize($base_color, 0.1));
$header_entry_border: if($darker == 'true' or $variant == 'dark', transparentize(darken($header_bg, 12%), 0.6), transparentize($header_fg, 0.7));

$button_bg: if($variant == 'light', lighten($bg_color, 2%), lighten($base_color, 2%));
$button_border: $entry_border;

$header_button_bg: if($darker == 'true' or $variant == 'dark', transparentize(lighten($header_bg, 22%), 0.6), transparentize($button_bg, 0.1));
$header_button_border: if($darker == 'true' or $variant == 'dark', transparentize(darken($header_bg, 12%), 0.6), transparentize($header_fg, 0.7));

//WM Buttons

// Close
$wm_button_close_bg: if($variant == 'light' and $darker == 'false', #d19494, #c18b8b);
$wm_button_close_hover_bg: if($variant == 'light' and $darker == 'false', #d19494, #d19494);
$wm_button_close_active_bg: if($variant == 'light' and $darker == 'false', #c18b8b, #bd7575);

$wm_icon_close_bg: if($variant == 'light' and $darker == 'false',#f1f0ef , #3d3934);

// Minimize, Maximize
$wm_button_hover_bg: if($variant == 'light' and $darker == 'false', #f5f4f4, #57514b);
$wm_button_active_bg: $selected_bg_color;

$wm_button_hover_border: if($variant == 'light' and $darker == 'false', #d9d6d3, #302c29);

$wm_icon_bg: if($variant == 'light' and $darker == 'false', #9e968f, #9e968f);
$wm_icon_unfocused_bg: if($variant == 'light' and $darker == 'false', #c0bbb6, #766e66);
$wm_icon_hover_bg: if($variant == 'light' and $darker == 'false', #8b8279, #cbc7c3);
$wm_icon_active_bg: $selected_fg_color;
